* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 5em;
}

.red {
  height: 100vh;
  background-color: red;
  text-align: center;
}

.first-text {
  color: yellow;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  position: absolute;

}

.green {
  height: 100vh;
  background-color: green;
  text-align: center;
}

.second-text {
  color: yellow;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  position: absolute;

}

.yellow {
  height: 100vh;
  background-color: yellow;
  text-align: center;
}

.third-text {
  color: green;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  position: absolute;
}

header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  height: 70px;
  line-height: 70px;
}

.right {
  float: right;
}

ul li a {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 2em;
  width: 50px;
  height: 50px;
  margin: 40px 20px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
}
/*ul li .circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
 } */

ul li {
  display: inline;
}
